@font-face {font-family: 'iconfont';  /* project id 593165 */
    src: url('//at.alicdn.com/t/font_593165_czgon9odts.eot');
    src: url('//at.alicdn.com/t/font_593165_czgon9odts.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_593165_czgon9odts.woff') format('woff'),
    url('//at.alicdn.com/t/font_593165_czgon9odts.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_593165_czgon9odts.svg#iconfont') format('svg');
  }

  .iconfont {
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-douban:before { content: "\e600"; }
  .icon-zhihu:before { content: "\e69a"; }
  .icon-weibo:before { content: "\e630";}
  .icon-twitter:before { content: "\ecb4";}
  .icon-wikipedia:before { content: "\e688";}
  .icon-instagram:before { content: "\e7b9";}
  .icon-github:before { content: "\e690";}
  .icon-home:before { content: "\e64e";}
  .icon-folder:before { content: "\e72d";}
  .icon-catalog:before { content: "\e608";}
  .icon-person:before { content: "\e612";}
  .icon-tags:before { content: "\e654";}
  .icon-rss:before { content: "\e6eb";}
  