{{ partial "header.html" . }}

<div class="header">
  <h1>{{ .Title }}</h1>
  <h2>{{ .Description }}</h2>
</div>
<div class="content">

  {{ partial "post_meta.html" . }}

  {{ .Content }}

  <div>
  <br/><br/>
  <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/cn/">
    <img alt="知识共享许可协议" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/3.0/cn/88x31.png" />
  </a><br/>
  本文采用<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/cn/">知识共享署名-非商业性使用-相同方式共享 3.0 中国大陆许可协议</a>进行许可。
  </div>

  {{ partial "prev_next_post.html" . }}

  {{ partial "disqus.html" . }}

</div>

{{ partial "footer.html" . }}
