{{ with .Site.Params.gitalk }}
<div id="gitalk-container"></div>
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk/dist/gitalk.min.js"></script>
<script>
  const gitalk = new Gitalk({
    clientID: '45937246c62d5c6b1ce5',
    clientSecret: 'cfdfe2d86acacf98686953cf709c631fdab41762',
    repo: 'xiaowing.github.io',
    owner: 'xiaowing',
    admin: ['xiaowing'],
    perPage: 10,
    pagerDirection: 'last',
    createIssueManually: true,
    id: location.pathname, // length should be less than 50
    distractionFreeMode: false // Facebook-like distraction free mode
  });
  //(function() {
  //  if (["localhost", "127.0.0.1"].indexOf(window.location.hostname) != -1) {
  //    document.getElementById('gitalk-container').innerHTML = 'Gitalk comments not available by default when the website is previewed locally.';
  //    return;
  //  }
  //  gitalk.render('gitalk-container');
  //})();
  gitalk.render('gitalk-container');
</script>
{{ end }}